{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": false,
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true
      }
    ]
  ]
}
